body{
	padding:0px;
	margin:0px;
	font-family: 'Roboto', sans-serif;
	 
	height: 100%;
    min-height: 100%;

}
header{
	 background-color:#003171;
	 min-height:100px;
	 width:100%;
}
footer{
	 background-color:#003171;
	  height:100px;
	 width:100%;
	 margin-bottom: 0px;
	 display: none;
}
.container{
	display:inline-block
	padding:10px 50px;
	background-color:whitesmoke;
	 min-height: 100%;
	 margin-top: 40px;
}
.container1{
	display:inline-block
	padding:10px 50px;
	background-color:whitesmoke;
	 min-height: 100%;
	 margin-top: 40px;
}
#website-title{
	font-size:30px;
	color:#fff;
	padding:30px;
	width:50%;
	float:left;
}
#register,#login{
	font-size:15px;
	color:#fff;
	padding:10px 30px;
	width:50px;
	float:right;
	display: block;
	background-color:white;
	color:black;
	margin:10px;
	margin-top:37px;
}
#adminpanel{
	font-size:15px;
	color:#fff;
	padding:10px 30px;
	width:150px;
	float:right;
	display: block;
	background-color:white;
	color:black;
	margin:10px;
	margin-top:37px;
}


.hotel-list-item{
	float:left;
	padding:5px;
	margin:5px;
}
.hotel-list-item-details{
	background-color: #e74c3c;
	color:white;
	padding:5px;
}

a:link,
a:hover,
a:visited,
a:active{
	text-decoration: none;
}
.regbtn{
	width: 100%;
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}
.serach-form{
	margin:auto;width: 60%;;
}
.serach-form > input {
 float:left;
 display: inline;
 height:25px;
 margin:5px 10px;
 padding-left:10px;

}
.search-form-div{
	text-align:center;
	width:100%;
	background-color:#bcbcbc;
	height:30px;
	padding:10px;
	margin:auto;
	padding-bottom: 20px;
}
.hoteform{
	padding:50px;
	margin-left:100px;
}
.hoteform >input{

	min-height:30px;
	padding-top: 10px;
	padding-left:10px;
	margin-top:10px;
	width:200px;
}



/* Css for rating system */

div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}